input {
  display: block;
  margin-bottom: 10px; }

input[type='text'], input[type='password'] {
  border-style: none;
  border: 2px solid black;
  height: 20px;
  width: 300px; }

.progressbar {
  width: 25%; }
